In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('synthetic_dataset.csv')

In [3]:
from sklearn.impute import SimpleImputer
num_imputer=SimpleImputer(strategy='mean')
df["Discount"]=num_imputer.fit_transform(df[["Discount"]])
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [4]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
df["Discount"]=imputer.fit_transform(df[["Discount"]])
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0       NaN      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0       NaN  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0       NaN  Out of Stock       4.0
4359      NaN  3283.0       NaN  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [5]:
imputer=SimpleImputer(strategy='median')
df["Discount"]=imputer.fit_transform(df[["Price"]])
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN    5548.0
1         NaN  3045.0  4.757798           NaN    3045.0
2         NaN  4004.0       NaN      In Stock    4004.0
3         NaN  4808.0  1.492085           NaN    4808.0
4         NaN  1817.0       NaN  Out of Stock    1817.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN    4436.0
4358        B  6236.0       NaN  Out of Stock    6236.0
4359      NaN  3283.0       NaN  Out of Stock    3283.0
4360        D  2999.0  4.425995           NaN    2999.0
4361      NaN     NaN  2.184471           NaN    4996.5

[4362 rows x 5 columns]

In [6]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
df["Rating"]=imputer.fit_transform(df[["Rating"]])
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN    5548.0
1         NaN  3045.0  4.757798           NaN    3045.0
2         NaN  4004.0  3.082060      In Stock    4004.0
3         NaN  4808.0  1.492085           NaN    4808.0
4         NaN  1817.0  3.082060  Out of Stock    1817.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN    4436.0
4358        B  6236.0  3.082060  Out of Stock    6236.0
4359      NaN  3283.0  3.082060  Out of Stock    3283.0
4360        D  2999.0  4.425995           NaN    2999.0
4361      NaN     NaN  2.184471           NaN    4996.5

[4362 rows x 5 columns]

In [7]:

df["Stock"] = df["Stock"].replace(['', 'N/A', '?'], np.nan)
print(df["Stock"].isna().sum())
#
df["Stock"] = df["Stock"].astype(str)
imputer = SimpleImputer(strategy='most_frequent')

df["Stock"] = imputer.fit_transform(df[["Stock"]]).flatten()
df

1352

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           nan    5548.0
1         NaN  3045.0  4.757798           nan    3045.0
2         NaN  4004.0  3.082060      In Stock    4004.0
3         NaN  4808.0  1.492085           nan    4808.0
4         NaN  1817.0  3.082060  Out of Stock    1817.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           nan    4436.0
4358        B  6236.0  3.082060  Out of Stock    6236.0
4359      NaN  3283.0  3.082060  Out of Stock    3283.0
4360        D  2999.0  4.425995           nan    2999.0
4361      NaN     NaN  2.184471           nan    4996.5

[4362 rows x 5 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder

In [9]:
onehot=OneHotEncoder(sparse_output=False)
encoded_data=onehot.fit_transform(df[["Category"]])
encoded_data

array([[0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]], shape=(4362, 5))

In [10]:
label_encoder = LabelEncoder()
df["Stock_Encoded"] = label_encoder.fit_transform(df["Stock"])
df

     Category   Price    Rating         Stock  Discount  Stock_Encoded
0         NaN  5548.0  1.870322           nan    5548.0              2
1         NaN  3045.0  4.757798           nan    3045.0              2
2         NaN  4004.0  3.082060      In Stock    4004.0              0
3         NaN  4808.0  1.492085           nan    4808.0              2
4         NaN  1817.0  3.082060  Out of Stock    1817.0              1
...       ...     ...       ...           ...       ...            ...
4357      NaN  4436.0  4.728335           nan    4436.0              2
4358        B  6236.0  3.082060  Out of Stock    6236.0              1
4359      NaN  3283.0  3.082060  Out of Stock    3283.0              1
4360        D  2999.0  4.425995           nan    2999.0              2
4361      NaN     NaN  2.184471           nan    4996.5              2

[4362 rows x 6 columns]

In [11]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler,RobustScaler

In [12]:
standard=StandardScaler()
df["Price_Standard"]=standard.fit_transform(df[["Price"]])
df

,Category,Price,Rating,Stock,Discount,Stock_Encoded,Price_Standard
0,NaN,5548.0,1.870322,nan,5548.0,2,0.187005
1,NaN,3045.0,4.757798,nan,3045.0,2,-0.694442
2,NaN,4004.0,3.082060,In Stock,4004.0,0,-0.356724
3,NaN,4808.0,1.492085,nan,4808.0,2,-0.073590
4,NaN,1817.0,3.082060,Out of Stock,1817.0,1,-1.126891
...,...,...,...,...,...,...,...
4357,NaN,4436.0,4.728335,nan,4436.0,2,-0.204593
4358,B,6236.0,3.082060,Out of Stock,6236.0,1,0.429289
4359,NaN,3283.0,3.082060,Out of Stock,3283.0,1,-0.610629
4360,D,2999.0,4.425995,nan,2999.0,2,-0.710642
4361,NaN,NaN,2.184471,nan,4996.5,2,NaN

In [13]:
minmax=MinMaxScaler()
df["Price_MinMax"]=minmax.fit_transform(df[["Price"]])
df

,Category,Price,Rating,Stock,Discount,Stock_Encoded,Price_Standard,Price_MinMax
0,NaN,5548.0,1.870322,nan,5548.0,2,0.187005,0.550268
1,NaN,3045.0,4.757798,nan,3045.0,2,-0.694442,0.297363
2,NaN,4004.0,3.082060,In Stock,4004.0,0,-0.356724,0.394261
3,NaN,4808.0,1.492085,nan,4808.0,2,-0.073590,0.475498
4,NaN,1817.0,3.082060,Out of Stock,1817.0,1,-1.126891,0.173285
...,...,...,...,...,...,...,...,...
4357,NaN,4436.0,4.728335,nan,4436.0,2,-0.204593,0.437910
4358,B,6236.0,3.082060,Out of Stock,6236.0,1,0.429289,0.619784
4359,NaN,3283.0,3.082060,Out of Stock,3283.0,1,-0.610629,0.321411
4360,D,2999.0,4.425995,nan,2999.0,2,-0.710642,0.292715
4361,NaN,NaN,2.184471,nan,4996.5,2,NaN,NaN

In [14]:
robust=RobustScaler()
df["Price_Robust"]=robust.fit_transform(df[["Price"]])
df

,Category,Price,Rating,Stock,Discount,Stock_Encoded,Price_Standard,Price_MinMax,Price_Robust
0,NaN,5548.0,1.870322,nan,5548.0,2,0.187005,0.550268,0.115142
1,NaN,3045.0,4.757798,nan,3045.0,2,-0.694442,0.297363,-0.407433
2,NaN,4004.0,3.082060,In Stock,4004.0,0,-0.356724,0.394261,-0.207213
3,NaN,4808.0,1.492085,nan,4808.0,2,-0.073590,0.475498,-0.039355
4,NaN,1817.0,3.082060,Out of Stock,1817.0,1,-1.126891,0.173285,-0.663813
...,...,...,...,...,...,...,...,...,...
4357,NaN,4436.0,4.728335,nan,4436.0,2,-0.204593,0.437910,-0.117021
4358,B,6236.0,3.082060,Out of Stock,6236.0,1,0.429289,0.619784,0.258782
4359,NaN,3283.0,3.082060,Out of Stock,3283.0,1,-0.610629,0.321411,-0.357743
4360,D,2999.0,4.425995,nan,2999.0,2,-0.710642,0.292715,-0.417036
4361,NaN,NaN,2.184471,nan,4996.5,2,NaN,NaN,NaN

In [15]:
new_file_name="processed_data.csv"
df.to_csv(new_file_name,index=False)

In [20]:
import joblib
joblib.dump(imputer, 'fitted_imputer.joblib')
joblib.dump(onehot, 'fitted_onehot_encoder.joblib')
joblib.dump(label_encoder, 'fitted_label_encoder.joblib')
joblib.dump(standard, 'fitted_standard_scaler.joblib')
joblib.dump(minmax, 'fitted_minmax_scaler.joblib')
joblib.dump(robust, 'fitted_robust_scaler.joblib')

print("All transformers have been saved successfully using joblib.")

All transformers have been saved successfully using joblib.