In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('synthetic_dataset.csv')

In [21]:
from sklearn.impute import SimpleImputer
num_imputer=SimpleImputer(strategy='mean')
df["Discount"]=num_imputer.fit_transform(df[["Discount"]])
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0  3.082060      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0  3.082060  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0  3.082060  Out of Stock       4.0
4359      NaN  3283.0  3.082060  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [22]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
df["Discount"]=imputer.fit_transform(df[["Discount"]])
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0  3.082060      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0  3.082060  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0  3.082060  Out of Stock       4.0
4359      NaN  3283.0  3.082060  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [ ]:
imputer=SimpleImputer(strategy='median')
df["Discount"]=imputer.fit_transform(df[["Price"]])
df

,Category,Price,Rating,Stock,Discount,Category_Imputed,Stock_Imputed
0,NaN,5548.0,1.870322,NaN,5548.0,Unknown,Unknown
1,NaN,3045.0,4.757798,NaN,3045.0,Unknown,Unknown
2,NaN,4004.0,3.082060,In Stock,4004.0,Unknown,In Stock
3,NaN,4808.0,1.492085,NaN,4808.0,Unknown,Unknown
4,NaN,1817.0,3.082060,Out of Stock,1817.0,Unknown,Out of Stock
...,...,...,...,...,...,...,...
4357,NaN,4436.0,4.728335,NaN,4436.0,Unknown,Unknown
4358,B,6236.0,3.082060,Out of Stock,6236.0,B,Out of Stock
4359,NaN,3283.0,3.082060,Out of Stock,3283.0,Unknown,Out of Stock
4360,D,2999.0,4.425995,NaN,2999.0,D,Unknown
4361,NaN,NaN,2.184471,NaN,4996.5,Unknown,Unknown

In [7]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='median')
df["Rating"]=imputer.fit_transform(df[["Rating"]])
df

     Category   Price    Rating         Stock  Discount
0         NaN  5548.0  1.870322           NaN       0.0
1         NaN  3045.0  4.757798           NaN      38.0
2         NaN  4004.0  3.082060      In Stock       0.0
3         NaN  4808.0  1.492085           NaN      33.0
4         NaN  1817.0  3.082060  Out of Stock      23.0
...       ...     ...       ...           ...       ...
4357      NaN  4436.0  4.728335           NaN      49.0
4358        B  6236.0  3.082060  Out of Stock       4.0
4359      NaN  3283.0  3.082060  Out of Stock       9.0
4360        D  2999.0  4.425995           NaN      40.0
4361      NaN     NaN  2.184471           NaN       0.0

[4362 rows x 5 columns]

In [26]:
df['Category_Imputed'] = df['Category'].fillna('Unknown')
df['Stock_Imputed'] = df['Stock'].fillna('Unknown')
df

,Category,Price,Rating,Stock,Discount,Category_Imputed,Stock_Imputed
0,NaN,5548.0,1.870322,NaN,5548.0,Unknown,Unknown
1,NaN,3045.0,4.757798,NaN,3045.0,Unknown,Unknown
2,NaN,4004.0,3.082060,In Stock,4004.0,Unknown,In Stock
3,NaN,4808.0,1.492085,NaN,4808.0,Unknown,Unknown
4,NaN,1817.0,3.082060,Out of Stock,1817.0,Unknown,Out of Stock
...,...,...,...,...,...,...,...
4357,NaN,4436.0,4.728335,NaN,4436.0,Unknown,Unknown
4358,B,6236.0,3.082060,Out of Stock,6236.0,B,Out of Stock
4359,NaN,3283.0,3.082060,Out of Stock,3283.0,Unknown,Out of Stock
4360,D,2999.0,4.425995,NaN,2999.0,D,Unknown
4361,NaN,NaN,2.184471,NaN,4996.5,Unknown,Unknown

In [8]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder

In [36]:
onehot=OneHotEncoder(sparse_output=False)
encoded_data=onehot.fit_transform(df[["Category_Imputed"]])
encoded_data

array([[0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]], shape=(4362, 5))